header {
  text-align: center;
  background-color: lightgray
}
h3 {
  font-size: 30px;
  text-align: center;
}
body {
}

* { 
    background-color: #00000000;
    color: black;
}
#alignment {
  text-align: center;
}
#song_album_wrapper {
  display: flex;
  gap: 20px;
}

#songs, #artists, #albums {
  flex: 1;
}
.flex-container {
  display: flex;
}

.box {
  background-color: lightgray;
  padding: 20px;
  margin: 10px;
}
#footer {
  text-align: center;
  font-size: 15px;
  color: gray;
  margin-top: 20px;
  font-family: sans-serif;
    background-color: lightgray;
    padding: 10px;
    width: 16%;
    margin: auto;
}
.red {
  color: red;
}
.blue {
  color: blue;
}   
img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }